MAINICON ICON "icon\icon.ico"

1 VERSIONINFO
FILEVERSION    1,1,0,0
PRODUCTVERSION 1,1,0,0
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904B0"
    {
      VALUE "CompanyName",     "Ubihazard\0"
      VALUE "LegalCopyright",  "© Ubihazard\0"
      VALUE "ProductName",     "BROADcast\0"
      VALUE "ProductVersion",  "1.1.0.0\0"
      VALUE "FileVersion",     "1.1.0.0\0"
      VALUE "FileDescription", "https://github.com/ubihazard/broadcast\0"
    }
  }
}
